@font-face {
  font-family: 'Dancing Script';
  src:
    url('./fonts/DancingScript-Regular.ttf') format('ttf'),
    url('./fonts/DancingScript-Bold.ttf') format('ttf'),
    url('./fonts/DancingScript-Medium.ttf') format('ttf'),
    url('./fonts/DancingScript-SemiBold.ttf') format('ttf');

  /* Add more src declarations for other font file formats if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: burlywood;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0, auto;
  height: 100vh;
  width: 100%;
}

.mainscore-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 90px;
}

.scores-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.score-heading {
  order: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recent {
  order: 0;
  width: 150px;
  white-space: nowrap;
  font-family: 'Dancing Script', cursive;
  font-weight: semi-bold;
}

.refresh {
  margin: 20px 0;
  margin-left: auto;
  font-family: 'Dancing Script', cursive;
  font-weight: semi-bold;
}

.refresh:hover {
  background-color: blue;
  border-radius: 8px;
  box-shadow: black;
}

.display {
  border: 2px solid black;
  border-radius: 6px;
  background: #fff;
}

.list-container {
  display: flex;
}

.list-container:nth-child(odd) {
  background-color: lightgrey;
}

.list-container:nth-child(even) {
  background-color: #fff;
}

#score-list {
  font-family: 'Dancing Script', cursive;
  font-weight: regular;
  overflow-y: scroll;
  max-height: 300px;
  height: auto;
  margin-left: 0;
}

.add-container {
  display: flex;
  flex-direction: column;
}

.add {
  order: 0;
  font-family: 'Dancing Script', cursive;
  font-weight: semi-bold;
}

#form {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 400px;
}

#name {
  border: 2px solid #000;
  height: 2em;
  font-family: 'Dancing Script', cursive;
  font-weight: regular;
}

#score {
  border: 2px solid #000;
  height: 2em;
  font-family: 'Dancing Script', cursive;
  font-weight: regular;
}

.submit {
  width: 100px;
  margin-left: auto;
  height: 2em;
  font-family: 'Dancing Script', cursive;
  font-weight: regular;
}

.submit:hover {
  background-color: blue;
  border-radius: 8px;
}
